.dockerignore
.travis.yml
.git/
.git*
docs/
Doxyfile
Dockerfile
LICENSE
README.md
lib*
.vs/
.vscode/
*.sln
*.vcxproj
*.user
*.filters


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/